**Indicium - Lighthouse** 

*Desafio Cientista de Dados*

Códigos de Modelagem e métodos para a previsão do salário

Feito por Larissa Benedet Dall Agnol

Agosto de 2022

As variáveis utilizadas foram 'age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss' e 'hours_per_week'. 

E também as transformações das variáveis 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex' e 'native_country'. Pois todas elas contribuem direta ou indiretamente para com o rendimento do indivíduo em seu trabalho, seja pela sua idade, intelecto ou estado emocional.

O problema resolvido é de classificação, pois a variável é binária, recebe as respostas <=50K e >50K.

O modelo que melhor se aproxima dos dados é o de Classificação por Regressão Logística Binária. 
Os prós de se usar esse modelo consistem em não ser necessário utilizar de grandes quantidades de recursos computacionais para que o modelo seja extremamente eficiente, ser de fácil interpretação e implementação e simples de treinar.
Já seus contras resumem-se em depender da apresentação dos dados, não poder ser utilizada para resolver problemas não lineares e é um algoritmo com vulnerabilidade ao sobreajuste.

Para um modelo de classificação como o descrito, uma medida de performance que se encaixa é a acurácia, ela avalia um modelo como sendo bom quando ele obtiver uma alta acurácia, sendo que ela pode variar de 0 à 1. Ela foi escolhida pois informa uma visão geral de quanto o modelo utilizado está identificando as classes corretamente.

A seguir estão os códigos utilizados na modelagem.

In [9]:
#Importando bibliotecas.
import numpy as np
import pandas as pd
import seaborn as sb
from matplotlib import pyplot as plt
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression

In [10]:
#Lendo o dataset de treinamento.
wage_train = pd.read_csv('wage_train.csv', 
sep=r'\s*,\s*', 
engine='python', 
na_values='?')
wage_train.head()

,Unnamed: 0,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,yearly_wage
0,0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [11]:
#Retirando linhas com dados faltantes.
nwage_train = wage_train.dropna()

In [12]:
#Lendo o dataset de teste.
wage_test = pd.read_csv('wage_test.csv', 
sep=r'\s*,\s*', 
engine='python', 
na_values='?')
wage_test.insert(15, 'yearly_wage', True)
wage_test.head()

,Unnamed: 0,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,yearly_wage
0,0,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,True
1,1,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,True
2,2,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,True
3,3,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,True
4,4,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,True

In [13]:
#Retirando linhas com dados faltantes.
nwage_test = wage_test.dropna()

In [14]:
#Transformando dados não-numéricos em numéricos. 
num_wage_train = nwage_train.apply(preprocessing.LabelEncoder().fit_transform)
num_wage_test = nwage_test.apply(preprocessing.LabelEncoder().fit_transform)

In [15]:
#Treinando o modelo e previsão dos dados.
Xtrain = num_wage_train.iloc[:,0:14]
Ytrain = num_wage_train.yearly_wage

Xtest = num_wage_test.iloc[:,0:14]
Ytest = num_wage_test.yearly_wage

logistic_regression = LogisticRegression()
logistic_regression.fit(Xtrain,Ytrain)
Yprev = logistic_regression.predict(Xtest)

print(Yprev)

print('Acurácia do modelo é: ',metrics.accuracy_score(Ytest, Yprev))

[0 0 1 ... 0 1 0]
Acurácia do modelo é:  0.8782123646988512

/home/larissa/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [16]:
#Criando a planilha final.
dados = {'predictedValues':Yprev}
predicted = pd.DataFrame(dados)
predicted.to_csv('predicted.csv')